<component-navbar-tabs [title]="'Minhas obras'" [backTo]="'0'">
</component-navbar-tabs>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" size="small" (click)="getPhoto2()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img *ngIf="foto.data" [src]="foto.data" alt="Select Image" />

  <ion-list>
    <ion-grid class="grid">
      <ion-row class="ion-no-padding">
        <ion-col class="col" size="4" (click)="detalharObra()" *ngFor="let obra of obras">
          <ion-card class="ion-no-padding">
            <div class="container-img">
              <img src="{{obra.Imagem.data}}" alt="">
            </div>
            <ion-card-content>
              <h2>{{obra.nome}}</h2>
              <h3>{{status}}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>