<component-navbar-tabs [title]="'Relatórios'" [backTo]="'0'">
</component-navbar-tabs>

<ion-content>
  <div *ngFor="let report of  reports">
    <div class="container-item-evento" (click)="DetalharRelatorio()">
      <ion-row class="cartao">
        <div class="container-img-evento">
          <img src="{{report.Image}}" alt="">
        </div>
        <div class="container-conteudo">
          <div>
            <h2>
              <ion-icon style="font-size: 6vw !important" name="ribbon"></ion-icon> {{report.Title}}
            </h2>
            <ion-icon style="font-size: 6vw !important" name="calendar"></ion-icon>
            {{report.DateReport | date:'dd/MM/yyyy'}}
          </div>
          <br>
          <span>
            <i style="font-size: 12px;">{{report.Description}}</i>
          </span>
        </div>
      </ion-row>
    </div>
  </div>

</ion-content>